{% extends 'base.html' %}


{% block title %} Edit Post {% endblock %}


{% block content %}

<div class="container">
  <h1>Edit Post</h1>

  <form action="/posts/{{ post.id }}/edit" method="POST">
    <div class="mb-4">
      <label for="">Title</label>
      <input class="form-control" type="text" name="title" value="{{ post.title }}">
    </div>

    <div>
      <label for="">Content</label>
      <textarea class="form-control" name="content" cols="30" rows="10">{{ post.content }}</textarea>
    </div>

    <button class="btn btn-outline-info mt-3" formaction="/users/{{ user.id }}" formmethod="GET">Cancel</button>
    <button class="btn btn-success mt-3">Edit</button>
  </form>
</div>

{% endblock %}