{% extends 'base.html' %}


{% block title %} Adding New Post {% endblock %}

{% block content %}

<h1>Add Post for {{ user.first_name}} {{ user.last_name}}</h1>

<form action="/users/{{ user.id }}/posts/new" method="POST">
  <div>
    <label for="">Title</label>
    <input class="form-control" type="text" name="title">
  </div>
  <div>
    <label for="">Content</label>
    <textarea name="content" cols="30" rows="10"></textarea>
  </div>

  <button class="btn btn-info">Cancel</button>
  <button class="btn btn-success">Add</button>
</form>

{% endblock %}