{% extends 'base.html' %}

{% block title %} Create a user {% endblock %}

{% block content %}

<h1>Create a user</h1>

<form action="/" method="POST">

  <label class="form-label" for="first_name">First name:</label><input class="form-control" type="text" name="first_name" placeholder="Enter a first name">
  <label class="form-label" for="last_name">Last name:</label><input class="form-control" type="text" name="last_name" placeholder="Enter a last name">
  <label class="form-label" for="image_url">Image URL:</label><input class="form-control" type="text" name="image_url" placeholder="Provide an image of this user">

  <input type="submit" value="Add" class="btn btn-success">

</form>

{% endblock %}