{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}


<h1 class="text-center">Users</h1>

<!-- separate tags on diff lines -->

<ul class="text-center list-group mt-3">
  {% for user in users %}
  <li class="list-group-item list-group-item-light"> <a href="/users/{{ user.id }}" class="text-decoration-none">
      {{ user.first_name }} {{ user.last_name }}</a></li>
  {% endfor %}
</ul>

<div class="text-center mt-3">
  <a href="/users/new" class="btn btn-primary">Add user</a>

</div>

{% endblock %}